**Import the Libraries**

In [1]:
import pandas as pd

**Get the Data**

In [2]:
df = pd.read_csv('/home/abdel/Documents/neo4j/Team.csv', index_col=0)
df.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [3]:
df.drop('team_fifa_api_id', axis=1, inplace=True)

**Store separate dataest**

In [4]:
df.to_csv('teams_dataset.csv', header=False, index=False)