**Import the Libraries**

In [1]:
import pandas as pd

**Get the Data**

In [2]:
df = pd.read_csv('/home/abdel/Documents/neo4j/League.csv', index_col=0)
df.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

**Store Data in csv file**

In [3]:
df.to_csv('leagues_dataset.csv', header=False, index=False)