**Import the Libraries**

In [3]:
import pandas as pd

**Get the Data**

In [4]:
df = pd.read_csv('/home/abdel/Documents/neo4j/Country.csv', index_col=0)
df.head()

      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy

**Store Data in csv file**

In [5]:
df.to_csv('countries_dataset.csv', header=False, index=False)